body {
  background-image: url('https://encurtador.com.br/biJVW'); /* Certifique-se de que o URL da imagem está correto e acessível */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Alterado para no-repeat para evitar repetições estranhas */
  background-color: #FFD7A9;
  font-family: 'Noto Serif', serif; /* Unificando a fonte */
  color: #333; /* Cor padrão de texto para melhor leitura */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff; /* Fundo mais neutro */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Sombra mais suave */
  padding: 20px;
  width: 90%; /* Ajuste para melhor responsividade */
  max-width: 800px; /* Mantém largura máxima */
  margin: 10px; /* Adiciona um pouco de margem ao redor do contêiner */
  overflow: hidden;
}

.cadastro,
.login {
  flex: 1;
  padding: 20px;
}

.cadastro {
  border-right: 2px solid #eee;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background: #f9f9f9; /* Adiciona um fundo sutil para os campos de entrada */
}

button {
  padding: 12px;
  background-color: #007bff; /* Estilo padrão do Bootstrap para botões */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
